.vs/
.vscode/
.kdev4/

*__pycache__

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.lib

*.exe
*.out
*.app
*.ipa

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.pri
*.pro
*.workspace
*.code-workspace
*.kdev4
CMakeLists.txt
SimulaTOR/SimulaTORCode*.txt

Binaries/*
Intermediate/*

# Whitelist Linux plugin libs
!ThirdParty/**/*.so

*_BuiltData.uasset

docs/source/_build
docs/source/README.md
